body {
    background-image: url(tether-image.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .9;
}



#hideMe {
    opacity: 0;
}

#hideMe2 {
    opacity: .9;
    text-align: left;
}

.display-4, .lead {
    color: whitesmoke;
    text-shadow: 0px 0px 5px darkblue, 0px 0px 5px rgb(0, 0, 0);
}

form.inputs input[type=text] {
    padding: 10px;
    margin-top: .2%;
    font-size: 100%;
    border: 1px solid grey;
    width: 200px;
    /* height: 37px; */
    background: #f1f1f1;
}

form.inputs button {
    /* float: right; */
    width: 70px;
    padding: 10px;
    margin-top: .2%;
    margin-right: .2%;
    background: #2196F3;
    color: white;
    font-size: 100%;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

table {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    align-items: center;
}

td {
    padding: 5px;
}

td.editTitle {
    text-align: left;
    /* font-style: oblique; */
    font-weight: bold;
    /* text-decoration: underline; */
}

#help li{
    text-align: left;
    /* list-style-type: square; */
}
