body {
    background-image: url(tether-image.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .9;
}

.myContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}


/* #searchHelp.card.mb-4.shadow-sm {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
} */

#help {
    padding: 0px 20px 0px 20px;
}


.display-4, .lead {
    color: whitesmoke;
    text-shadow: 0px 0px 5px darkblue, 0px 0px 5px rgb(0, 0, 0);
}

form.inputs input[type=text] {
    padding: 10px;
    margin-top: .2%;
    font-size: 100%;
    border: 1px solid grey;
    width: 200px;
    /* height: 37px; */
    background: #f1f1f1;
}

button {
    /* float: right; */
    width: 70px;
    padding: 10px;
    margin-top: .2%;
    margin-right: .2%;
    background: #2196F3;
    color: white;
    font-size: 100%;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

button:hover {
    background-color: #555;
}





table {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    align-items: center;
    border-color: black
}

td {
    padding: 5px;
}

td.editTitle {
    text-align: left;
    /* font-style: oblique; */
    font-weight: bold;
    /* text-decoration: underline; */
}

table, tr, td {
    border-bottom: 1px solid grey;
}

#help li{
    text-align: left;
    /* list-style-type: square; */
}

.helpContainer {
    display: block;
    width: 100%;
    /* margin: 0 auto; */
}

.collapsible {
    display: block;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
    width: 270px;
    height: 50px;
    border: 1px solid grey;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}


#searchHelp {
    padding: 0 18px;
    display: none;
    width: 380px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 0 auto;
    margin-bottom: 15px;
}